.{
    box-sizing: border-box;
}
body{
    background-color:rgb(0, 0, 0);
    margin: 30px;
}

h2,a.adding{
    background-color:darkblue;
    height:30px;
    color: white;
    text-align:center;
}
h1{
    background-color:darkblue;
    height:50px;
    color: white;
    text-align:center;
}
a{
    margin:10px;
    color: blue;
}
a:hover{
    color:red;
}
div.content{
    box-sizing:border-box;
    height:150px;
    width:80%;
    margin:60px;
    font-family: Englebert, Arial;
    padding:5px;
}
div.media-content{

    box-sizing:border-box;
    height:400px;
    width:600px;
    background: white url("images/note.jpg") no-repeat;
    background-size: cover;
    margin:40px;
}
section.sec{
    box-sizing:border-box;
    background: rgb(0, 0, 0) url("images/bg3.jpg") no-repeat; 
    background-size: cover;
    margin:10px;
}
a.adding:hover{
    color:rgb(213, 226, 29);
}
div.align{
     display:flex;
     flex-wrap: wrap;
     
}
strong{
    display:block;
    margin:2px;
}
div.date{
    margin:65px;
}
div.front{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}