{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>notes</title>
    <link rel="stylesheet" href="{%  static  'css/styles.css'  %}">
</head>

<body>
    <header>
        <h1>
            Add Notes
        </h1>
    </header>
    <section>
        <div>

        <form method="POST" action="{% url 'NotesCreater:add' %}">
                {% csrf_token %}
                <div>
                    <div>
                        <h2>Enter Notename</h2>
                            {{ form.name }}
                        <h2>Enter text</h2>
                            {{ form.text }}
                    </div>
                </div>

                <div>
                    <div>
                        <button>Submit</button>
                    </div>
                </div>
        </form>
        </div>

    </section>
    <footer>
    </footer>
</body>

</html>