{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>notes</title>
    <link rel="stylesheet"  href="{%  static  'css/styles.css'  %}">
</head>

<body>
    <header>
        <h1>
         Notes
        </h1>
        
        {% if user.is_authenticated %}
            <a href="{% url 'NotesCreater:logout' %}" class="log">Logout</a>
        {% endif %}
        <h2>welcome {{user.username}}</h2>
    </header>

    <section class="sec">
        <div class="align">
            {% for n in user.note.all %}
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <h3> <strong> <u> {{ n.name }} </u> </strong> </h3>
                                <br> {{ n.text }}
                            </p>
                        </div>
                        <div class="date">
                            <i>     {{ n.created}}     </i>
                            <div>
                                <h3>
                                    <a href="view/{{n.id}}">view</a>
                                    <a href="update/{{n.id}}">update</a>
                                    <a href="delete/{{n.id}}">delete</a>
                                </h3>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </section>
    <footer class="footer">
    <article>
        <h1>
            <a href="add/{{user.id}}" class="adding">Add new note</a>
        </h1>
    </article>
    </footer>
</body>

</html>