{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>notes</title>
    <link rel="stylesheet"  href="{%  static  'css/styles.css'  %}">
</head>

<body>
    <header>
        <h1>
         Notes
        </h1>
    </header>

    <section class="sec">
        <div>
            {% for n in entries %}
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{ n.created }}</strong>
                                <br> {{ n.text }}
                            </p>
                        </div>
                        <a href="view/{{n.id}}">view</a>
                        <a href="update/{{n.id}}">update</a>
                        <a href="delete/{{n.id}}">delete</a>
                    </div>
            {% endfor %}
         
            <article>
                    <h1>
                        <a href="add" class="adding">Add new note</a>
                    </h1>
            </article>
        </div>

    </section>
    <footer class="footer">
    </footer>
</body>

</html>