<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>notes</title>
    
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Notes
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">

            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <a href="add">Add new note</a>
                    </div>
                </div>
            </article>

            {% for n in Notes %}
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{ n.created }}</strong>
                                <br> {{ n.text }}
                            </p>
                        </div>
                    </div>
                </article>
            {% endfor %}

        </div>

    </section>
    <footer class="footer">
    </footer>
</body>

</html>