{% load static %}
<html>
 <head>
   <meta charset="utf-8">
   <title>Notes</title>
   <link rel="stylesheet"  href="{%  static  'css/styles.css'  %}">
 </head>
 <body>
   <h1>NOTE VIEW</h1>
   <form method="post">
       <div class="align">
            <div class="media-content">
                <div class="content">
                    <p>
                        <h3> <strong> <u> {{ note.name }} </u> </strong> </h3>
                        <br> {{ note.text }}
                    </p>
                </div>
                    <div class="date">
                        <i>     {{ note.created}}     </i>
                    </div>
            </div>
        </div>
   </form>
   <a href="../../">View all Notes</a>
</body>  
</html>